streamlit
fastapi
uvicorn
gunicorn
spacy==3.7.2
textblob
python-docx
pypdf  
python-dotenv
groq
pyspellchecker
fastapi
uvicorn
gunicorn
spacy==3.7.2
textblob
python-docx
PyMuPDF  
python-dotenv
groq
pyspellchecker
fastapi
uvicorn
gunicorn
python-multipart 
spacy==3.7.2
textblob
python-docx
PyMuPDF
python-dotenv
groq
pyspellchecker
